
#header{
    background-color: #35424a;
    border-bottom: 5px solid orangered;
    color: white;
    text-align: center;
    padding-top: 5px;
    font-size: 0.8em;
}

#header_ord{
    display: flex;
    justify-content: center;
    flex-direction: row;
    gap: 20px;
    font-size: 0.8em;
}

.middle{
    display: flex;
    flex-direction: column;
    text-align: center;
    /* tog den bilden som fanns länkad i classroom */
    background-image: url(./img/showcase\ \(1\).jpg);
    background-size: 100%, 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
    color: white;
    border-bottom: 5px solid orangered;
    padding-top: 100px;
    padding-bottom: 100px;
}

.nyhetsbrev{
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: #35424a;
    border-bottom: 5px solid orangered;
    color: white;
}

.logos{
    background-color: rgb(255, 254, 240);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 5%;
    padding-right: 5%;
    padding-top: 5%;
    gap: 50px;
}

#logo{
    display: flex;
    flex-direction: column;
    align-items: center;
}

img{
    max-height: 60%;
    max-width: 50%;
}

#foot{
    background-color: orangered;
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    padding-top: 1%;
    padding-bottom: 1%;
}
/* 
#header{
    background-color: #35424a;
    border-bottom: 3px solid #e8491d;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orangered;
    font-size: 1.6em;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orangered;
    font-size: 1em;
}

#white{
    color:white;
}

.container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.branding{
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nav{
    margin-left: 20%;
    float: right;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#showcase{
    background-image: url(./img/showcase\ \(1\).jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#boxes{
    background-color: rgb(229, 227, 226);
}

#footer{
    background-color: rgb(240, 146, 39);
} */