
#header{
    background-color: #35424a;
    border-bottom: 3px solid #e8491d;
}

h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orangered;
    font-size: 1.6em;
}

h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: orangered;
    font-size: 1em;
}

#white{
    color:white;
}

.container{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
}

.branding{
    margin-left: 20%;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.nav{
    margin-left: 20%;
    float: right;
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 30px;
}

#showcase{
    background-image: url(./img/showcase\ \(1\).jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    display: flex;
    flex-direction: column;
    text-align: center;
}

#boxes{
    background-color: rgb(229, 227, 226);
}

#footer{
    background-color: rgb(240, 146, 39);
}